@model Project2WooxTravel.Entities.Reservation

<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Rezervasyon Oluştur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" style="color: black">Ad</label>
                                <input type="text" class="form-control" name="Name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" style="color: black">Soyad</label>
                                <input type="text" class="form-control" name="Surname" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" style="color: black">Telefon Numarası</label>
                                <input type="tel" class="form-control" name="Phone" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" style="color: black">Kişi Sayısı</label>
                                <input type="number" class="form-control" name="PersonCount" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" style="color: black">Başlangıç Tarihi</label>
                                <input type="date" class="form-control" name="ReservationStartDate" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" style="color: black">Bitiş Tarihi</label>
                                <input type="date" class="form-control" name="ReservationEndDate" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="color: black">Açıklama</label>
                        <textarea class="form-control" name="Description" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary" style="background-color: #22b3c1; color: white; border: none; font-weight: bold ">Oluştur</button>
                </div>
            </form>
        </div>
    </div>
</div>
